.vs/
howto_circle_from_points/bin/
howto_circle_from_points/obj/
WindowsFormsApp1/bin/
WindowsFormsApp1/obj/
WindowsFormsApp2/obj/
WindowsFormsOrbit/bin/
WindowsFormsOrbit/obj/
howto_text_on_circle/obj/
howto_text_on_circle/bin/
WindowsFormsApp2/bin/
